* {
  font-family: "Arimo", sans-serif;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.main {
  background-color: white;
  padding: 15px;
  margin: 10px;
}
/*contact aside section*/
.aside {
  color: whitesmoke;
  background-color: #3f6844;
  margin-right: 20px;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 20px;
  flex: 30%;
}

.jdimg {
  display: flex;
  width: 177px;
  height: 193px;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 10%;
  margin: auto;
  align-items: center;
}

.namebox {
  text-align: center;
  margin-top: 20%;
  font-size: 30px;
}
.namebox h2 {
  font-size: 25px;
}

.contact {
  text-align: center;
  margin-top: 30%;
}
.separator {
  border-top: 0px solid #ccc;
}

.contactmail,
.contactphone,
.contactlocation,
.contactlkd {
  display: flex;
  align-items: center;
  margin: 10px;
}

.icon-container {
  filter: invert(100%);
  margin-right: 20px;
  border-radius: 10px;
  padding: 5px;

  box-shadow: 1px 0px 10px white;
}
#links {
  color: gainsboro;
}
#icons {
  width: 30px;
  height: 30px;
}

.text-container {
  align-items: center;
}

#links:hover {
  color: #96b8ffee; /* Cambio de color al pasar el cursor por encima */
}

.h2softwares {
  margin-top: 40px;
}
.h2skills {
  margin-top: 45px;
}

/*progress bars*/
.progresbars {
  appearance: none; /* Remove default styling */
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progresbars::-webkit-progress-value {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/*article section profile, work experience*/

.main {
  display: flex;
}

.sectionprofile {
  margin: 10px;
}

.articlesection {
  padding-top: 10px;
  padding-left: 0%;
  padding-right: 4%;
  text-align: justify;
  font-size: 20px;
  flex: 70%;
}

#iconsarticle {
  width: 1.5em;
  margin: 1em;
}

.h2profile {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3f6844;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4em;
  margin-left: 3.5em;
}

.column {
  flex-basis: calc(33.33% - 20px);
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.skill {
  border-radius: 5px;
  text-align: start;
  padding: 10px;
}
/*education section*/
.educationbox {
  margin-left: 2.5em;
}

/*Hobbies section*/

.hobbiesbox {
  display: flex; /* Para alinear los íconos en una fila */
  justify-content: space-between; /* justificar el contenidocon espacio entre los íconos */
  align-items: center;
  margin-right: 20%;
  margin-left: 4.5em;
  margin-bottom: 5%;
}
.hobbieimg {
  width: 60%;
}
.sectionname {
  color: black;
}
.skillbox {
  margin: auto;
}

.softwarbox {
  margin-bottom: 50px;
}

.h2hobbies {
  color: #3f6844;
}
/*footer*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1vh;
}

.footer footer {
  text-align: center;
}

@media screen and (max-width: 720px) {
  .main {
    flex-direction: column;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1vh;
    flex-direction: column;
  }
}
